<style>
a.a1{font-style: bold; font-size: 20px; color: green;}
</style>
<h3>Danh sách khu vui chơi giải trí</h3>
<button ng-click="viewCollumn()">viewcount</button>
<button ng-click="rateCollumn()">rate</button>
<ul ng-repeat="giaitri in data">
<li>
<a class="a1" ng-href="#/giaitri/{{giaitri.id}}">{{giaitri.ten}}</a>
<span style="background-color: silver;">{{giaitri.viewcount}}</span>
<span style="background-color: silver;">{{giaitri.rate}}</span>
<br>
<p class="p1">{{giaitri.tom_tat}}</p>
<br>
<img ng-src="{{folderimgs}}/{{giaitri.id}}/{{giaitri.anh_dai_dien}}" width="200"/>
</li>
</ul>
<button ng-click="loadmore()" ng-show="hasMore">Hiển thị thêm</button>