
a.a1{font-size: 22px; color: blue; text-decoration: none;}
.place{width: 1030px; background: rgb(230,230,230); margin: -50px 0px 0px 70px; padding: 10px; overflow:auto;}
h3.h3{text-align: center; color: green; font-size: 32px;}
.dd{float:left; width: 41% ;margin: 20px 2% 40px 4%; background: white; padding: 10px; }
p.p1{background: rgb(200,200,200); margin: 10px 0px 5px 7%; width: 83%; padding: 2%; overflow:hidden; height:84px;}

p.p2{background: rgb(172,220,19);width: 110px; float:right;color:white; margin: -32px -5px 20px 0px; font-style:italic; font-weight:bold; font-size: 18px; padding-left:7px;}
.luotxem{ width: 40px;     height: 28px;
    background:rgb(172,220,19);   margin: -14px 0px 0px 419px; 
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateZ(449.7718691776962deg)   skewX(-40deg);
}

.bubble {   width: 170px;   height: 60px;   padding: 0px 0px 0px 10px;   margin: -20px 0px 0px -20px;
   background: rgb(102,156,247);  position: relative;   -moz-border-radius:    10px;   -webkit-border-radius: 10px;
   border-radius:         10px;}
.bubble:before {
   content:"";   position: absolute;   right: 100%;  top: 20px;   width: 0;height: 0;  border-top: 15px solid transparent;
   border-right: 36px solid rgb(102,156,247);   border-bottom: 15px solid transparent;}
.bubble a, .bubble a:visited{color:white;}

button.btn, button.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: white;
  font-size: 20px;
  background: #cf67cc;
  padding: 10px 20px 10px 20px;
  float:right;
  margin: 0px 5px 0px 10px;
}
button.btn1 {background: #b39966; }
button.btn:hover {  background: #eb09dc; }
button.btn1:hover {  background: #db9109; }
img.img1{width:80%; height:200px; margin: 10px 10px 10px 10%;}

