<style>
a.a1{font-style: bold; font-size: 20px; color: green;}
</style>
<h3>Danh sách điểm đến</h3>
<button ng-click="viewCollumn()">viewcount</button>
<button ng-click="rateCollumn()">rate</button>
<ul ng-repeat="diemden in data">
<li>
<a class="a1" ng-href="#/diemden/{{diemden.id}}">{{diemden.ten}}</a>
<span style="background-color: silver;">{{diemden.viewcount}}</span>
<span style="background-color: silver;">{{diemden.rate}}</span>
<br>
<p class="p1">{{diemden.tom_tat}}</p>
<br>
<img ng-src="{{folderimgs}}/{{diemden.id}}/{{diemden.anh_dai_dien}}" width="200"/>
</li>
</ul>
<button ng-click="loadmore()" ng-show="hasMore">Hiển thị thêm</button>