
<link rel="stylesheet" href="diemden/topdiemdencss.css" />

<div class="place">
<h3 class="h3">DANH SÁCH NHÀ HÀNG</h3>
<button class="btn" ng-click="rateCollumn()">Rate</button>
<button class="btn" ng-click="viewCollumn()">View</button>
<br clear:both><br><br>
<div ng-repeat="nhahang in data">
    <div class="dd">
    <div class="bubble">
        <a class="a1" ng-href="#/nhahang/{{nhahang.id}}">{{nhahang.ten | uppercase}}</a>
    </div>
    <p class="p2">
        Lượt xem:{{nhahang.viewcount}}<br>
        Điểm:{{nhahang.rate}}
        <div class="luotxem"></div>
    </p>
    <br>
    <p class="p1">{{nhahang.tom_tat}}</p>
    <br>
    <img class="img1" ng-src="{{folderimgs}}/{{nhahang.id}}/{{nhahang.anh_dai_dien}}" />
    </div>
</div>
<div style="clear: both"></div>
<button class="btn1" ng-click="loadmore()" ng-show="hasMore">Hiển thị thêm</button>
</div>