<style>
a.a1{font-style: bold; font-size: 20px; color: green;}
</style>
<h3>Danh sach nha hang</h3>
<button ng-click="viewCollumn()">viewcount</button>
<button ng-click="rateCollumn()">rate</button>
<ul ng-repeat="nhahang in data">
<li>
<a class="a1" ng-href="#/nhahang/{{nhahang.id}}">{{nhahang.ten}}</a>
<span style="background-color: silver;">{{nhahang.viewcount}}</span>
<span style="background-color: silver;">{{nhahang.rate}}</span>
<br>
<p class="p1">{{nhahang.tom_tat}}</p>
<br>
<img ng-src="{{folderimgs}}/{{nhahang.id}}/{{nhahang.anh_dai_dien}}" width="200"/>
</li>
</ul>
<button ng-click="loadmore()" ng-show="hasMore">Hien thi them</button>